@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  gap: 3rem;
  position: relative;
}

body {
  display: grid;
  background-color: black;
  color: rgb(233, 233, 233);
  font-family: Roboto;
  gap: 6rem;
}

#banner {
  min-width: 100vw;
  min-height: 400px;
  background-image: url("./assets/tibetan-prayer-flag2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

#intro {
  display: grid;
  justify-items: center;
  gap: 3rem;
}

#intro img {
  width: 400px;
  height: 500px;
}

#intro > div,
#closing {
  display: grid;
  gap: 1rem;
}

#intro > div > div,
#closing {
  line-height: 1.5rem;
}

#intro > div:first-child {
  width: 65%;
}

#intro-img-container {
  display: flex;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#card-container {
  display: grid;
  gap: 2rem;
}

.card {
  display: grid;
  gap: 0.5rem;
}

img {
  width: 800px;
  height: auto;
}

#closing {
  margin-bottom: 4rem;
  width: 50%;
}

#scroll-to-top {
  position: fixed;
  right: 3%;
  bottom: 3%;
  border: 1px solid black;
}

#scroll-to-top > img {
  width: 2rem;
}
