@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  gap: 3rem;
  position: relative;
}

/* #intro,
#closing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 5rem;
} */

body {
  display: grid;
  background-color: black;
  color: rgb(233, 233, 233);
  font-family: Roboto;
  gap: 6rem;
}

#banner {
  width: 100vw;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

#intro {
  display: grid;
  justify-items: center;
  gap: 3rem;
}

#intro img {
  width: 400px;
  height: 500px;
}

#intro > div {
  display: grid;
  gap: 1.8rem;
}

#intro > div > div {
  line-height: 1.5rem;
}

#intro > div:first-child,
#closing {
  width: 65%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  /* align-items: center; */
}

#card-container {
  display: grid;
  gap: 2rem;
}

img {
  width: 800px;
  height: auto;
}

#scroll-to-top {
  position: fixed;
  right: 3%;
  bottom: 3%;
  border: 1px solid black;
}

#scroll-to-top > img {
  width: 2rem;
}
