:root {
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #intro,
#closing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 5rem;
} */

body {
  display: grid;
}

#banner {
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 800px;
  height: auto;
}

#intro img {
  width: 400px;
  height: 500px;
}
