:root {
  --main-bg: #303131;
  --secondary-bg: #9fe6a6;
}

.nav {
  display: flex;
  justify-content: end;
}

.sign-up-btn {
  background-color: var(--secondary-bg);
  border: 1px solid var(--secondary-bg);
  border-radius: 0.2rem;
  padding: 0.4rem;
}

.sign-up-btn:hover {
  cursor: pointer;
  background-color: #3dc14a;
  border: 1px solid #3dc14a;
}
