:root {
  --main-bg: #303131;
  --secondary-bg: #9fe6a6;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.arrow {
  position: absolute;
  width: 4rem;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg)
    brightness(105%) contrast(103%);
  transition: 0.2s all;
}

.arrow:hover {
  cursor: pointer;
  filter: invert(66%) sepia(79%) saturate(4815%) hue-rotate(89deg)
    brightness(70%) contrast(126%);
  scale: 0.9 0.9;
}

.right {
  top: 25%;
  right: 10%;
}

.left {
  top: 25%;
  left: 10%;
}

.image {
  width: 40rem;
}
