:root {
  --main-bg: #303131;
  --secondary-bg: #9fe6a6;
}

html,
body {
  margin: 0;
  background-color: var(--main-bg);
  color: white;
}

#root {
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

.intro {
  display: grid;
  justify-items: center;
}

.intro > div {
  font-size: 1.25rem;
}

.tree {
  scale: 0.7;
  opacity: 0.2;
  width: 40vw;
  height: auto;
  animation: tree-fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
}

@keyframes tree-fade-in {
  100% {
    scale: 1;
    opacity: 1;
  }
}

.slider-container > h1 {
  text-align: center;
}
