@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #303131;
  --secondary-bg: #9fe6a6;
}

html,
body {
  margin: 0;
  background-color: var(--main-bg);
  color: white;
  font-family: sans-serif;
}

#root {
  padding: 2rem;
  display: grid;
  gap: 2rem;
}
